[user]
	name = Christerpher Hunter
	email = djhunter67@gmail.com
[credential]
	helper = cache --timeout=10800000
[color]
	ui = true
[core]
	excludesfile = /home/djhunter67/.gitignore_global
[help]
	autocorrect = 40
[alias]
	st = status -sb
	cm = commit -am
	rv = remote -v
	gl = config --global -l
[init]
	defaultBranch = trunk
[pull]
	rebase = true

[push]
	autoSetupRemote = true
